/*!
 * Fecha: 6 de Diciembre de 2012;
 *
 * Diseño creado por Angel Suarez Fernandez para el página web de su Curriculum Vitae.
 * 
 * Autor: Ángel Suárez Fernández;
 * 
 */

/*
 * Importacion de fuentes
 ***************************************************/
 @import url('./font.css'); 

/*
 * Estilos generales
 ***************************************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

body {
	overflow: hidden;
	margin: 0;
	font-family: "CartoonistHand", "Trebuchet", Helvetica, Verdana, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #222;
	background-color: #FCFCFC;
}

h1 {
	font-size: 5em;
	line-height: 0.9em;
	margin: 0.5em 0 0.25em 0.5em;
}

 /*
 * Estilos particulares
 ***************************************************/
nav	{
 	font-family: "carbontype", Helvetica, Verdana, sans-serif;
}

nav.contraste ul li a{
	color:#fff;
}

nav ul {
 	list-style: none;
 }

 nav ul li {
 	display: inline;
 }

 nav ul li a {
 	color: #222;
 }

 nav ul li a.activo {
 	color: #c55;
 }

 nav ul li a:hover {
 	color: #c5c555;
 }



 footer {
 	position: absolute;
 	bottom: 0;
 	right: 1em;
 }

 /*
 * Posicionamiento de elementos del home
 ***************************************************/

#home h1 {
	font-family: "CartoonistHand", Helvetica, Verdana, sans-serif;
	font-size: 11em;
	margin: 0.5em 0 0.75em 0.5em;
}

#home h2 {
	font-family: "CartoonistHand", Helvetica, Verdana, sans-serif;
	margin: 0 0 1em 10%;
	font-size: 2em;
	display: inline;
	width: 20em;
	float: left;
}

#home article section{
	position: relative;
}

#home article section div.roto, #home article section div.boton, #home article section div.contador {
	width: 200px;
	position: absolute;
}


header div {
	position: fixed;

 	z-index: 100;

    height: 73px;
    width: 100px;
}

header div.languages {
	top: 10px;
	left: 50px;
}

header div.languages a {
	font-family: "pacifico", Helvetica, Verdana, sans-serif;
	margin: 2px;
	color:#000;
	text-decoration: none;
}

header div.languages a.activo{
	color: #0101DF;
}

header div.languages a.activo:after{
	content: ']'; 
}

header div.languages a.activo:before{
	content: '['; 
}

header div.languages a:hover {
	color: #c5c555;
}

header div.contador {
	top: 50px;
	right: 50px;
}

/*header div.contador {
    background-image: url("../img/numeros_digitales.jpg");
    background-position: -327px 73px;
    background-size: 400px auto;

    display: none;

	position: fixed;
	top: 50px;
	right: 50px;
 	z-index: 100;

    height: 73px;
    width: 73px;
}
*/
header  div.numero0 {
    background-position: 0px 0px;
}
header  div.numero1 {
    background-position: -82px 0px;
}
header div.numero2 {
    background-position: -164px 0px;
}
header div.numero3 {
    background-position: -246px 0px;
}
header div.numero4 {
    background-position: -327px 0px;
}
header div.numero5 {
    background-position: 0px 73px;
}
header div.numero6 {
    background-position: -82px 73px;
}
header div.numero7 {
    background-position: -164px 73px;
}
header div.numero8 {
    background-position: -246px 73px;
}
header div.numero9 {
    background-position: -327px 73px;
}

#home article section div.roto {
    background-image: url("../img/fondo5.jpg");
    background-position: -11px -81px;
    background-size: 200px auto;

    bottom: -60px;  
    right: 200px;

    height: 88px;
    width: 188px;
}

#home article section div.boton {
 	background-image: url("../img/boton_play.jpg");
    background-repeat: no-repeat;
	background-position: -101px -31px;

    background-size: 200px auto;
    bottom: 80px;
    right: 257px;

    height: 88px;
    width: 88px;
 
}

#home article section div.boton:hover {
	background-position: -10px -31px;
}

#work video{
	float: right;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

#profile h2{
	font-size: 2em;
	line-height: 0.9em;
	margin: 0.5em 0 0.25em 1.5em;
}

#profile > p:first-letter{
	font-size: 2em;
}

#profile > p{
	width: 55%;
	margin: 1em 3em;
	font-size: 1.5em;
	line-height: 1.5em;
}


.frasesInteresantes q {
	width: 300px;
	margin-left: 4em;
	float: left;
}

.frasesInteresantes q {
	font-family: "goodfoot", Helvetica, Verdana, sans-serif;
	font-size: 2em;
	line-height: 1.25em;
}

.frasesInteresantes .autor:before { content: ' - '; }
.frasesInteresantes q:before { content: '“'; content: open-quote; }
.frasesInteresantes q:after { content: '”'; content: close-quote; }

/*
 * Posicionamiento de las distintas secciones
 ***************************************************/
nav {
	position: fixed;
	bottom: 0;
 	z-index: 100;
}

footer { 
	bottom: 0;
}

 #home, #knowledge, #work, #profile, #contact {
 	float: left;
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	z-index: 10;
 }

 #home {

 }
/*
 #knowledge {
 	 margin-left: 100%;

	background-image: -ms-linear-gradient(left, #FFF 0%, #222 100%);

	background-image: -moz-linear-gradient(left, #FFF 0%, #222 100%);

	background-image: -o-linear-gradient(left, #FFF 0%, #222 100%);

	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFF), color-stop(1, #222));

	background-image: -webkit-linear-gradient(left, #FFF 0%, #222 100%);

	background-image: linear-gradient(to right, #FFF 0%, #222 100%);

 }
 
 #work {
 	margin-left: 200%;
	background-image: -ms-linear-gradient(left, #222 0%, #FFF 100%);
	background-image: -moz-linear-gradient(left, #222 0%, #FFF 100%);
	background-image: -o-linear-gradient(left, #222 0%, #FFF 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #222), color-stop(1, #FFF));
	background-image: -webkit-linear-gradient(left, #222 0%, #FFF 100%);
	background-image: linear-gradient(to right, #222 0%, #FFF 100%);
 }
*/
 #profile {
 	/*margin-left: 300%;*/
 	margin-left: 100%;
 	

 	background-image: url('../img/yo.jpg');
 	background-repeat: no-repeat;
	background-position: 100% 0;

    background-size: auto 100%;
    background-color: #fff;


 }

 #profile article.twitter{
 	width: 30%;
	float: left;
	margin: 0 0 0 5%;
 }

 #profile article.social{
	width: 30%;
	float: left;
	margin: 0;
}

#profile article.social{
	width: 31%;

}

#profile article.social a,
#profile article.social a img
{
	display: block;
	float: left;
	background-image: url('../img/social3.png');

	height: 100px;
    margin: 1em;
    width: 100px;
}

#profile article.social a img{
	width: 80px;
	height: 80px;
}

#profile article.social a.delicious{
	background-position: -357px -12px;
}

#profile article.social a.youtube{
	background-position: 135px 120px;
}

#profile article.social a.qr{
	background-image: url('')
}

#profile article.social a.facebook{
	background-position: -35px -120px;
}

#profile article.social a.linkedin{
	background-position: 355px -230px;
}

#profile article.social a.twitter{
	background-position: -32px -552px;
}

 #contact {
 	/*margin-left: 400%;*/
 	margin-left: 200%;
 }



