/*
 * Fuentes
 ***************************************************/


@font-face {
    font-family: 'LiquidismRegular';
    src: url('fuentes/Liquidism-webfont.eot');
    src: url('fuentes/Liquidism-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/Liquidism-webfont.woff') format('woff'),
         url('fuentes/Liquidism-webfont.ttf') format('truetype'),
         url('fuentes/Liquidism-webfont.svg#LiquidismRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GrutchShadedRegular';
    src: url('fuentes/GrutchShaded-webfont.eot');
    src: url('fuentes/GrutchShaded-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/GrutchShaded-webfont.woff') format('woff'),
         url('fuentes/GrutchShaded-webfont.ttf') format('truetype'),
         url('fuentes/GrutchShaded-webfont.svg#GrutchShadedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ImpactLabelRegular';
    src: url('fuentes/Impact_Label-webfont.eot');
    src: url('fuentes/Impact_Label-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/Impact_Label-webfont.woff') format('woff'),
         url('fuentes/Impact_Label-webfont.ttf') format('truetype'),
         url('fuentes/Impact_Label-webfont.svg#ImpactLabelRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ImpactLabelReversedRegular';
    src: url('fuentes/Impact_Label_Reversed-webfont.eot');
    src: url('fuentes/Impact_Label_Reversed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/Impact_Label_Reversed-webfont.woff') format('woff'),
         url('fuentes/Impact_Label_Reversed-webfont.ttf') format('truetype'),
         url('fuentes/Impact_Label_Reversed-webfont.svg#ImpactLabelReversedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BearpawRegular';
    src: url('fuentes/BEARPAW_-webfont.eot');
    src: url('fuentes/BEARPAW_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/BEARPAW_-webfont.woff') format('woff'),
         url('fuentes/BEARPAW_-webfont.ttf') format('truetype'),
         url('fuentes/BEARPAW_-webfont.svg#BearpawRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CartoonistHandSCBold';
    src: url('fuentes/SF_Cartoonist_Hand_SC_Bold-webfont.eot');
    src: url('fuentes/SF_Cartoonist_Hand_SC_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/SF_Cartoonist_Hand_SC_Bold-webfont.woff') format('woff'),
         url('fuentes/SF_Cartoonist_Hand_SC_Bold-webfont.ttf') format('truetype'),
         url('fuentes/SF_Cartoonist_Hand_SC_Bold-webfont.svg#CartoonistHandSCBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goodfoot';
    src: url('fuentes/goodfoot-webfont.eot');
    src: url('fuentes/goodfoot-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/goodfoot-webfont.woff') format('woff'),
         url('fuentes/goodfoot-webfont.ttf') format('truetype'),
         url('fuentes/goodfoot-webfont.svg#goodfoot') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CartoonistHand';
    src: url('fuentes/SF_Cartoonist_Hand-webfont.eot');
    src: url('fuentes/SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/SF_Cartoonist_Hand-webfont.woff') format('woff'),
         url('fuentes/SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         url('fuentes/SF_Cartoonist_Hand-webfont.svg#CartoonistHand') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Pacifico';
    src: url('fuentes/Pacifico-webfont.eot');
    src: url('fuentes/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/Pacifico-webfont.woff') format('woff'),
         url('fuentes/Pacifico-webfont.ttf') format('truetype'),
         url('fuentes/Pacifico-webfont.svg#Pacifico') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carbontype';
    src: url('fuentes/carbontype-webfont.eot');
    src: url('fuentes/carbontype-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/carbontype-webfont.woff') format('woff'),
         url('fuentes/carbontype-webfont.ttf') format('truetype'),
         url('fuentes/carbontype-webfont.svg#carbontype') format('svg');
    font-weight: normal;
    font-style: normal;
}

