/*
 * Fecha: 6 de Diciembre de 2012;
 *
 * Diseño creado por Angel Suarez Fernandez para el página web de su Curriculum Vitae.
 * 
 * Autor: Ángel Suárez Fernández;
 * 
 */



/*
 * Importacion de fuentes
 ***************************************************/
 @import url('./font.css'); 

/*
 * Estilos generales
 ***************************************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

html, body {
	background: #fff;
	padding: 0;
	margin: 0;
}

 /*
 * Estilos particulares
 ***************************************************/
nav	{
 	display: none;
}



 footer {

 }

 /*
 * Posicionamiento de elementos del home
 ***************************************************/

 #home h1 {
	font-family: "CartoonistHand", Helvetica, Verdana, sans-serif;
	font-size: 3em;
	margin:0;
	padding: 0;
}

#home h2 {
	font-family: "CartoonistHand", Helvetica, Verdana, sans-serif;
	font-size: 1.5em;
	display: block;
}


/*
 * Posicionamiento de las distintas secciones
 ***************************************************/

 #home, #knowledge, #work, #profile, #contact {
 
 }

 #home {
 	background-image: url('../img/yo.jpg');
 	background-repeat: no-repeat;
	background-position: 100% 0;

    background-size: auto 100%;
    background-color: #fff;
 }

 #profile {
 
 }

 #profile hgroup h1, #contact article hgroup h1{
 	font-family: "carbontype", Helvetica, Verdana, sans-serif;
 }

 #profile hgroup p:first-letter, #profile article.twitter div p:first-letter{
 	font-family: "carbontype", Helvetica, Verdana, sans-serif;
 	font-size: 2em;
 }
 #profile hgroup p, #profile article.twitter div p{
 	margin:10px;
 	text-align: justify;
 }


 #contact {

 }



